name: Run Unit Tests

on:
  push:
  workflow_dispatch:

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install package
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
      - name: Run tests
        run: |
          python -m unittest discover -s src/paraqus/tests/tests_common
